@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  background: linear-gradient(90deg, #d81842 0%, #bb4bc5 100%);
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #db1bb2 0%, #3e19c2 179.25%);
}

.progress {
  background: linear-gradient(90deg, #0d7fdb 0%, #2bf184 100%);
}

.done {
  background: linear-gradient(90deg, #d5d818 0%, #df4a1d 100%);
}

.hold {
  border: 5px solid rgb(240, 209, 209);
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #8ed7ed;
}